:host {
    display: block;
}

.sub-section {
    margin-top: var(--slds-g-spacing-3, 12px);
    margin-bottom: var(--slds-g-spacing-1, 4px);
}

.sub-label {
    font-size: var(--slds-g-font-scale-1, 14px);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: #2E2E2E;
    padding-left: var(--slds-g-spacing-1, 4px);
    margin-bottom: var(--slds-g-spacing-1, 4px);
    display: block;
}
